@import 'colors';
@import 'typography';
@import 'spacings';
@import 'base';

.container {
    padding: 0 $container-spacing;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:$blue;
    min-height:8vh;
    position:relative;
    z-index:1;

    .logoindex {
            text-transform: capitalize;
            font-family: 'Oswald', sans-serif;
            font-size: 2rem;
            text-decoration: none;
            color:$white;
            letter-spacing: 3px;
            padding: 0 30px;
    }
}     

    .nav-links {
        display:flex;
        list-style: none;
        justify-content: space-around;
        font-weight:bold;
        gap:10px;
        padding:0;
        li{
            font-size:1.2rem;
        }
    
        & a:last-child{
            display:none;
    
        }
        & a:hover{
            color:aqua;

        }


    }
    .small-menu{
        display:flex;
        justify-content: space-betweens;
        flex-direction: row;
        gap:10px;
        margin-right:$spacing-base;

        .burger-menu {
        color:$white;
        display:none;
        

     }
     .user, .cart, .burger-menu {
         font-size:25px;
         cursor: pointer;
     }
    }


@media screen and (max-width:900px) {
    .small-menu {
        .burger-menu{
            display:block;
        }

        .user {
            display:none;
        }
    }

    .nav-links{
        display:flex;
        flex-direction: column;
        position:absolute;
        align-items:center;
        top:6vh;
        right:0%;
        background:$blue;
        height:70vh;
        width:80%;
        transform:translateX(120%);
       
         li{
           opacity: 0;
        }
        
        & a:last-child{
            display:block;
    
        }
        
    }
    .nav-links.active {
        transform: translateX(0);
        transition: transform .5s ease-in;
    }

    @keyframes navFadeLinks {
        from {
            opacity:0;
            transform: translateX(50px);
        }
        to {
            opacity:1;
            transform: translateX(0px);
        }
    }
}
